#wrapper-stats {
  position: absolute;
  top: 0;
  right: 0;
  overflow-y: scroll;
  width: 100%;
  height: calc(100% - 50px);
  display: flex;
  flex-direction: column;
}

/* #wrapper-stats-circles::before {
  content: "Статистика за сегодня";
  position: absolute;
  top: 0px;
  font-family: var(--font1);
  font-size: 13px;
  color: #ffffff;
  background-image: linear-gradient(to bottom, var(--header), rgba(0,0,0, 0.3) 100%);
  border-radius: 0 0 5px 5px;
  padding: 5px;
  z-index: 1000;
  display: flex;
  justify-content: center;
} */

.statsCircles {
  width: 100%;
  max-width: 385px;
  margin: 15px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.statsCircles span {
  position: absolute;
  font-family: var(--font4);
  font-size: 24vh;
  
}

#longestSeries::after,
#percentage::after,
#newWords::after,
#learntWordsStats::after {
  position: absolute;
  left: 50%;
  top: 75%;
  font-size: 40px;
  transform: translateX(-50%);
  white-space: nowrap;
}

#newWords::before {
  content: 'Сегодня:';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-family: var(--font4);
  font-size: 35px;
}

#longestSeries::after {
  content: 'Угадано подряд';
}

#percentage::after {
  content: 'Угадано верно';
}

#newWords::after {
  content: 'Новых слов';
}

#learntWordsStats::after {
  content: 'Изученных слов';
}

.statsCirclesInner {
  width: 100%;
  padding-bottom: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.6);
}

#wrapper-stats-circles {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

#wrapper-stats-charts {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#chartWordsWrapper,
#chartDaysWrapper {
  position: relative;
  width: 100%;
  max-width: 900px;
  height: 400px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  margin-bottom: 10px;
}
